body {
  margin: 0;
  color: #1D1D1D;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #94C6D0;
}

/*
.App {
  /*text-align: center;*/
  /*background-image: url('./Background.png'); */
  /*mix-blend-mode: soft-light;
}
*/

.menu-flex {
	display: flex;
	background-color: #94C6D0;
}

.footer-main {
  background-color: #1D1D1D;
  color: #EBEBEB;
}

