.App {
  /*text-align: center;*/
  background-image: url('./Background.png'); /*NOT WORKING*/
  /*mix-blend-mode: soft-light;*/
}

.menu-flex {
	display: flex;
	background-color: #94C6D0;
}

.footer-main {
  background-color: #1D1D1D;
  color: #EBEBEB;
}

