.Homepage{
    /* margin-left: 5vh; */
    /*padding-left: 16.5rem; it should be set with the react-boostrap*/
}

.b-line{
	border: 1px solid rgba(0, 0, 0, 0.8);
	justify-content: center;
}


.bordi{
    margin-top: 4vh;
    margin-left: 3vh;
}

.trans{
    width: 150px;
}

.header-box{
    border: 1.2px solid #1D1D1D;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}



/*
.som {
	width: 56.375rem;
	height: 19.313rem;
}*/
/*
.somos {
	width: 902px;
	height: 309px;
	padding-top: 201px;
	padding-left: 265px;
	margin-bottom: 10vh;
}*/

.descubre-btn {
	/*margin-top: 30px;*/
	font-style: normal;
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: -0.02rem;
	color: #1D1D1D;
}

.section {
	padding-top: 5.5vh;
	margin-left: 4vh;	
	padding-bottom: 4vh;
}

/*===== SECTION 2 ====*/

.section2-container {
	position: relative;
	text-align: center;
	width: 56.75rem;
	height: 31.8rem;
}

.image-text {
	position: absolute;
	width: 47.25rem;
	height: 9.5rem;
	top: 30%;
	left: 45%;
	transform: translate(-50%, -50%);
}

.image-text h2 {
	font-style: medium;
	line-height: 4.25rem;
	letter-spacing: -0.02em;
	vertical-align: top;
	text-align: left;
	margin-left: 1.3em;
}

.section2-h1 {
	font-style: bold;
	font-size: 3.125rem;
	line-height: 4.68rem;
}

.blocks{
	height: 542px;
	max-width: 750px;
}

/*===== SECTION 3 =======*/

/*.section3-container{
	display: flex;
	margin-top: 7vh;
}*/

.section3 h2 {
	font-size: 40px;
}

/*.section3-div1 {
	margin-right: 5em;
}*/

.section3 img {
	margin-bottom: 7vh;
}

.section3 p {
	font-weight: 400;
	margin-top: 3vh;
	margin-bottom: 4vh;
}

.section3 span {
	font-weight: 700;
}

.section3-btn {
	width: 100%;
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
/*
.section3-div1 {
	width: 396px;
}

.section3-div2 p {
	width: 437px;
}*/


/*=====SECTION 4=====*/

.section4-container {
	width:62.438rem;
	height:748px;
}

.section4 h2 {
	font-size: 2.5rem;
	letter-spacing: -2%;
	margin-bottom: 6vh;
}

.section4-btn {
	/* float: right; */
	height: 46px;
	width: 287.84px;
	margin-top: 6vh;
	margin-right: 5.7em;
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/*===== SECTION 5 ====*/

.section5 {
	max-width: 80%;
	margin-bottom: 10rem;
}

.section5 h2 {
	font-size: 40px;
	letter-spacing: -2%;
	margin-top: 10rem;
	margin-bottom: 7vh;
}

.section5 p {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.688rem;
}

.section5 span {
	font-weight: 700;
}

.podcast-green {
	margin-top: 2rem;
}

.img-ezequiel {

}

.section5-btn {
	width: 24.68rem;
	height: 2.875rem;
	/*width: 100%;*/
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	margin-top: 6vh;
}

/*======= trying to minimiza the p overscreen ==== */

.p-container{
	max-width: 80%;
}

/*===== SECTION 6 ====*/

.section6 {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.section6 h2 {
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

.somos-mobile {
	display: none;
}

.somos-transparentes {
	position: relative;
	text-align: center;
	width: 56.75rem;
	height: 31.8rem;
}

.centered {
	position: absolute;
	top:55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered p {
	margin-top: 9vh;
	width: 39.7rem;
	margin-left: 5em;
}

.section6-button {
	padding-top: 4vh;
}

.s6-btn {
	width: 19.8rem;
	height: 2.875rem;
	background-color: #1D1D1D;
}

.section8{
	margin-left: 2vh;
}

/*==== MOBILE VERSION ==== */

@media screen and (max-width: 768px){

  .section5-btn, .section6-image, .section6-somos-svg {
    display: none;
  } 

  .section6 {
  	text-align: left;
  }

  .somos-mobile { /*=== NOT WORKING ===*/
  	font-weight: 900;
  	font-size: 35px;
  	line-height: 110%;
  	letter-spacing: 0.04em;
  	text-transform: uppercase;
  	border: 1px dashed #1D1D1D;
  }
  .centered {
  	left: 30%;
  	text-align: left;
  }
}