.Homepage{
    margin-left: 5rem;
    /*padding-left: 16.5rem; it should be set with the react-boostrap*/
    margin-right:0;
}

.b-line{
	border: 1px solid rgba(0, 0, 0, 0.8);
	justify-content: center;
}

/*
.som {
	width: 56.375rem;
	height: 19.313rem;
}*/
/*
.somos {
	width: 902px;
	height: 309px;
	padding-top: 201px;
	padding-left: 265px;
	margin-bottom: 10vh;
}*/

.descubre-btn {
	/*margin-top: 30px;*/
	font-style: normal;
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: -0.02rem;
	color: #1D1D1D;
}

.section {
	padding-top: 8.5vh;
	padding-bottom: 4vh;
}

/*===== SECTION 2 ====*/

.section2-container {
	position: relative;
	text-align: center;
	width: 56.75rem;
	height: 31.8rem;
}

.image-text {
	position: absolute;
	width: 47.25rem;
	height: 9.5rem;
	top: 30%;
	left: 45%;
	transform: translate(-50%, -50%);
}

.image-text h2 {
	font-style: medium;
	line-height: 4.25rem;
	letter-spacing: -0.02em;
	vertical-align: top;
	text-align: left;
	margin-left: 1.3em;
}

.section2-h1 {
	font-style: bold;
	font-size: 3.125rem;
	line-height: 4.68rem;
}

.blocks{
	height: 542px;
	max-width: 750px;
}

/*===== SECTION 3 =======*/

.section3-container{
	display: flex;
	margin-top: 7vh;
}

.section3 h2 {
	font-size: 40px;
}

.section3-div1 {
	margin-right: 5em;
}

.section3 img {
	margin-bottom: 7vh;
}

.section3 p {
	font-weight: 400;
	margin-top: 3vh;
	margin-bottom: 4vh;
}

.section3 span {
	font-weight: 700;
}

.section3-btn {
	width: 27.3rem;
	height: 2.875rem;
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.section3-div1 {
	width: 396px;
}

.section3-div2 p {
	width: 437px;
}


/*=====SECTION 4=====*/

.section4-container {
	width:62.438rem;
	height:748px;
}

.section4 h2 {
	font-size: 2.5rem;
	letter-spacing: -2%;
	margin-bottom: 6vh;
}

.section4-btn {
	float: right;
	height: 46px;
	width: 287.84px;
	margin-top: 6vh;
	margin-right: 5.7em;
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/*===== SECTION 5 ====*/
