.Homepage{

    /*padding-left: 16.5rem; it should be set with the react-boostrap*/
}

.b-line{
	border: 1px solid rgba(0, 0, 0, 0.8);
	justify-content: center;
}

/*
.som {
	width: 56.375rem;
	height: 19.313rem;
}*/
/*
.somos {
	width: 902px;
	height: 309px;
	padding-top: 201px;
	padding-left: 265px;
	margin-bottom: 10vh;
}*/

.descubre-btn {
	/*margin-top: 30px;*/
	font-style: normal;
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: -0.02rem;
	color: #1D1D1D;
}

section, .section {
	padding-top: 8.5rem;
	padding-bottom: 4vh;
}

/*===== SECTION 2 ====*/

.section2-container {
	position: relative;
	text-align: center;
	width: 56.75rem;
	height: 31.8rem;
}

.image-text {
	position: absolute;
	width: 47.25rem;
	height: 9.5rem;
	top: 30%;
	left: 45%;
	transform: translate(-50%, -50%);
}

.image-text h2 {
	font-style: medium;
	line-height: 4.25rem;
	letter-spacing: -0.02em;
	vertical-align: top;
	text-align: left;
	margin-left: 1.3em;
}

.section2-h1 {
	font-style: bold;
	font-size: 3.125rem;
	line-height: 4.68rem;
}

.blocks{
	height: 542px;
	max-width: 750px;
}

/*===== SECTION 3 =======*/

/*.section3-container{
	display: flex;
	margin-top: 7vh;
}*/

.section3 h2 {
	font-size: 40px;
}

/*.section3-div1 {
	margin-right: 5em;
}*/

.section3 img {
	margin-bottom: 7vh;
}

.section3 p {
	font-weight: 400;
	margin-top: 3vh;
	margin-bottom: 4vh;
}

.section3 span {
	font-weight: 700;
}

.section3-btn {
	width: 100%;
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
/*
.section3-div1 {
	width: 396px;
}

.section3-div2 p {
	width: 437px;
}*/


/*=====SECTION 4=====*/

.section4-container {
	width:62.438rem;
	height:748px;
}

.section4 h2 {
	font-size: 2.5rem;
	letter-spacing: -2%;
	margin-bottom: 6vh;
}

.section4-btn {
	float: left;
	height: 46px;
	/*width: 287.84px;*/
	margin-top: 6vh;
	/*margin-right: 5.7em; */
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}



/*===== SECTION 5 ====*/

/*.section5 {
	margin-bottom: 10rem;
}*/

.section5 h2 {
	font-size: 40px;
	letter-spacing: -2%;
	margin-top: 10rem;
	margin-bottom: 7vh;
}

.section5 p {

	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.688rem;
}

.section5 span {
	font-weight: 700;
}

.podcast-green {
	margin-top: 2rem;
}

.img-ezequiel {

}

.section5-btn {
	width: 24.68rem;
	height: 2.875rem;
	/*width: 100%;*/
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	margin-top: 6vh;
}



/*===== SECTION 6 ====*/
/*
.section6 {
	padding-top: 10rem;
	padding-bottom: 10rem;
}*/

.section6 h2 {
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

.section6-img-mob {
	display: none;
}

.somos-transparentes {
	position: relative;
	text-align: center;
	/*width: 56.75rem;
	height: 31.8rem; */
}

.manif-unite{
	display: inline;
}

.manifesto{
	font-weight: 700;
}

.yellow-underline{
	border-bottom: 2.7px solid #F8D65B;
}

.yellow-box{
	border: 2.7px solid #F8D65B;
}

.flecha{
	transform: rotate(-90deg);
}

.centered {
	/*position: absolute;
	top:55%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}

.section6-p-mob {
	display: none;
	/*margin-top: 9vh;
	width: 39.7rem;
	margin-left: 5em;*/
}

.section6-button {
	padding-top: 4vh;
}

.s6-btn {
	width: 19.8rem;
	height: 2.875rem;
	background-color: #1D1D1D;
}

/*==== SECTION7====*/

.mask1 {
	width: 28.896rem;
	height: 20.748rem;
}

.mask3 {
	width: 28rem;
	/*width: 28.896rem;*/
	height: 20.748rem;
}

.mask4 {
	width: 28.5rem;
	height: 20.688rem;
}

.mask2 {
	/*width: 28.833rem;*/
	width: 28.5rem;
	height: 20.688rem;
}

.section7-grid-mob {
	display: none;
}
/*
.section7 {
	padding-top: 8rem;
	padding-bottom: 8vh;
}*/

.section7 h2 {
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

.fundacion {
	margin-top: 4.5rem;
}

/*.container {
	display: none;
}*/

/*=== SECTION 7 === */
/*
.container {
	display: grid;
	grid-template-columns: auto auto;

/*===SECTION 8 ====*/

/*.section8 {
	padding-top: 3rem;
}*/
/*
.section8 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}*/

.section8 h2 {
	font-size: 2.5rem;
	letter-spacing: -0.02em;
}

.section8 h1 {
	font-size: 3.625rem;
	color: #1D1D1D;
	font-weight: bold;
	line-height: 150%;
	letter-spacing: -0.01em;
	margin-left: 3rem;
}

.b-line {
	width: 56.875rem;
	height: 0px;
	font-weight: 1px;
	color: #000000;
	margin-left: 0;
}

.section8 p {
	font-weight: 400;
}

.section8-img {
  	padding-top: 1rem;
  }

.manif-flex {
	display: flex;
	justify-content: flex-start;
}
/*
.manif-unite {
	position: relative;


}

.centrado {
	position: absolute;
	justify-content: center;
	top: 25%;
	left:46.7%;
	transform: translate(-50%, -50%);
}

.valores {
	width: 10rem;
}

.centrado2 {
	position: absolute;
	justify-content: center;
	top: 12%;
	left:46.7%;
	transform: translate(-50%, -50%);
}*/

.mobile-logo{
	display: none;
}


/*==== MOBILE VERSION ==== */

@media screen and (max-device-width: 768px){

   .mobile-logo{
	display: inline;
   }

   .yellow-underline{
		background-color:  #F8D65B;
   }

   .yellow-box{
	background-color:  #F8D65B;
   }

  .descubre-btn, .section3 h2, .section5-btn, .section6-image, .section6-somos-svg {
    display: none;
  } 

  section, .section {
	padding-top: 2rem;
	padding-bottom: 2rem;
	
}

.section4-btn {
	float: none;
}
	

.section4-btn, .s6-btn {
	width: 100%;
	border-radius: 4px;
	background-color: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
  .section5-p {
  	margin-top: 3rem;
  }
  .section6-img-mob {
  	display: initial;
  	margin-bottom: 2rem;
  }

  .section6 {
	  text-align: left;
	  padding-top: 0;
	 /* margin-top: -30%;*/
  }

  .section6 h2 {
  	font-size: 22px;
  	line-height: 150%;
  }

  .somos-mobile { /*=== NOT WORKING ===*/
  	font-weight: 900;
  	font-size: 35px;
  	line-height: 110%;
  	letter-spacing: 0.04em;
  	text-transform: uppercase;
  	border: 1px dashed #1b1a1a;
  }
  .centered {
  	left: 30%;
  	text-align: left;
  }

  .section6-p-mob {
  display: initial;
  padding-top: 2rem;
	width: 39.7rem;
	}

  .section2-container h2, .section2-container span {
  	font-size: 26px;
  	line-height: 150%;
  	
  }

  .image-text {
  	width: 344px;
  	height: 175px;
  	margin-top: 3rem;
   }

  .section2-container {
  	width: 100%;
  	height: auto;

  	
  }
  .section2-container span {
  	font-weight: 700;
  }
/*
  .section7 .section8 {
  	padding-top: 1rem;
  	margin-top: 0;
  }*/

  .section7-grid-mob {
	display: unset;
}

.mb-5 {
	margin-bottom: 0;
}
 .section7-grid-desktop {
	display: none;
}

/*.mask1 {
	width: 70%;
	height: auto;
}*/

.section8 {
	margin-bottom: 2rem;
}
.section8 h2 {
  	font-size: 22px;
  	line-height: 150%;
  	letter-spacing: -0.02rem;
  	font-style: medium;
  	margin-bottom: 2rem;
  }

  .section8 h1 {
  	font-size: 18px;
  	line-height: 150%;
  	letter-spacing: -1%;
  	font-style: medium;
  }
  .b-line {
  	display: none;
  }
  .section8-img {
  	padding-top: 0;
  }

  .podcast-green {
	margin-top: 2rem;
	width: 80%;
}

.Homepage{

    /*padding-left: 16.5rem; it should be set with the react-boostrap*/

	width: 90%;
}


}


@media screen and (min-width: 768px){
	.section4-btn {
		float: right;
		margin-right: 20%; 
	}
}
