.section6 {
	padding-top: 30vh;

}

.section6 h2 {
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

.somos-transparentes {
	position: relative;
	text-align: center;
	width: 56.75rem;
	height: 31.8rem;
}

.centered {
	position: absolute;
	top:55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered p {
	margin-top: 9vh;
	width: 39.7rem;
	margin-left: 5em;
}

.section6-button {
	padding-top: 4vh;
}

.s6-btn {
	width: 19.8rem;
	height: 2.875rem;
	background-color: #1D1D1D;
}