.footer-main {
	padding-left: 25px;
}

.footer-buttons {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	/*align-items: center;*/
}

.footer-title {
	display: flex;

	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	padding-top: 4vh;
	margin-left: 25px;
	margin-bottom: 4vh;

}

.descubre {
	font-weight: 700;
	margin-bottom: 3vh;
	background-color: #1D1D1D;
}

.compartir {
	font-weight: 700;
	margin-bottom: 3vh;
	background-color: #1D1D1D;
}

.hrz-line{
	border: 1px solid rgba(235, 235, 235, 0.8);
}

.hrz-line1{
	border: 1px solid rgba(235, 235, 235, 0.8);
}

.footer-flex1{
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.footer-siguenos{
	text-align: left;
	/*margin-left: 27px;*/
}

.footer-flex2 {
	display: flex;
	flex-direction: row;
	/*margin-left: 27px;*/
}

.footer-upcycling {
	margin-right: 1.5em;
}

.footer-flex2 p {
	margin-right: 0.5em;
}

.transforma {
	text-align: left;
	/*margin-left: 27px;*/
}

.copyright {
	padding-bottom: 4vh;
	text-align: left;
}