.footer-main {
	padding-left: 25px;
	color: #EBEBEB;;
}

.footer-title {
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	/*margin-left: 25px;*/
	padding-top: 4vh;
	margin-bottom: 4vh;
}

.footer-buttons {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-around;
	/*align-items: center;*/
	padding-top: 2rem;
}
.footer-buttons2 {
	display: flex;
	justify-content: flex-start;
}

.descubre-foot {
	/*background: #FFFFFF;*/
	width: 264px;
	height: 44px;
	margin-right: 2rem;
	background: #1D1D1D;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: solid 3px rgba(255,255,255,1);
	color: #FFFFFF;
	margin-bottom: 4vh;
	font-size: 16px;
	line-height: 258%;
	font-weight: 700;
	padding-top: 0;
	/*vertical-align: center;*/
	text-align: center;
	letter-spacing: 2%;
}

.compartir-foot {
	width: 264px;
	height: 44px;
	font-weight: 700;
	font-size: 12px;
	line-height: 345%;
	vertical-align: center;
	letter-spacing: 10%;
	padding-top: 0;
	/*margin-bottom: 3vh;*/
	background: #1D1D1D;
	color: #EBEBEB;
	border: solid 1px rgba(255,255,255,1);
}

.hrz-line{
	border: 1px solid rgba(235, 235, 235, 0.8);
	justify-content: center;

}

.footer-flex1{
	display: flex;
	justify-content: space-between;
	text-align: left;
	font-size: 12px;
}

.flex-title {
	font-size: 14px;
}
.footer-siguenos{
	text-align: left;
	justify-content: end;
	/*margin-left: 27px;*/
}

.footer-flex2 {
	display: flex;
	flex-direction: row;
	/*margin-left: 27px;*/
}

.footer-flex3 {
	display: flex;
}

.footer-upcycling {
	margin-right: 1.5em;
}

.footer-flex2 p {
	margin-right: 0.5em;
}

.transforma {
	text-align: left;
	/*margin-left: 27px;*/
}

.copyright {
	text-align: left;
}

@media screen and (max-device-width: 700px){
	.footer-buttons, .footer-buttons2 {
	display: block;
	}

	.hrz-line {
		width: 90%;
		margin-left: 0;
	}
	.hrz-line1, .footer-compra {
		display: none;
	}
	.transforma {
		margin-top: 2rem;
	}
	 
	.copyright {
		padding-bottom: 3rem;
	}

}