.footer-main {
	padding-left: 25px;

}

.footer-title {
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	/*margin-left: 25px;*/
	padding-top: 4vh;
	margin-bottom: 4vh;
}

.footer-buttons {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-around;
	/*align-items: center;*/
}
.footer-buttons2 {
	display: flex;
	justify-content: space-around;
}

.descubre {
	background: #FFFFFF;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: #1D1D1D;
	margin-bottom: 4vh;
	font-weight: 700;
}

.compartir {
	font-weight: 700;
	margin-bottom: 3vh;
}

.hrz-line{
	border: 1px solid rgba(235, 235, 235, 0.8);
	justify-content: center;
}

.footer-flex1{
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.footer-siguenos{
	text-align: left;
	/*margin-left: 27px;*/
}

.footer-flex2 {
	display: flex;
	flex-direction: row;
	/*margin-left: 27px;*/
}

.footer-upcycling {
	margin-right: 1.5em;
}

.footer-flex2 p {
	margin-right: 0.5em;
}

.transforma {
	text-align: left;
	/*margin-left: 27px;*/
}

.copyright {
	padding-bottom: 4vh;
	text-align: left;
}