.footer-main {
	padding-left: 25px;
}

.blacko{
	background-color: #1D1D1D;
}

.footer-buttons {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	/*align-items: center;*/
}

.footer-title {
	display: flex;

	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	padding-top: 4vh;
	margin-left: 25px;
	margin-bottom: 2vh;

}

.descubre {
	font-weight: 700;
	margin-bottom: 2vh;
	background-color: #1D1D1D;
}

.compartir {
	font-weight: 700;
	margin-bottom: 2vh;
	background-color: #1D1D1D;
}

.hrz-line{
	border: 1px solid rgba(235, 235, 235, 0.8);
}

.hrz-line1{
	border: 1px solid rgba(235, 235, 235, 0.8);
}

.footer-flex1{
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.footer-siguenos{
	text-align: left;
	/*margin-left: 27px;*/
}

.footer-flex2 {
	display: flex;
	flex-direction: row;
	/*margin-left: 27px;*/
}

.footer-upcycling {
	margin-right: 1.5em;
}

.minifoot{
	line-height: 30px;
	font-weight: 300;
	font-size: 12px;
}

.footer-flex2 p {
	margin-right: 0.5em;
}

.transforma {
	text-align: left;
	/*margin-left: 27px;*/
}

.copyright {
	padding-bottom: 4vh;
	text-align: left;

	font-size: 14px;
	font-weight: 300;
}

@media screen and (max-device-width: 700px){

	.footer-compra {
		display: none;
	}

	.footer-buttons {
		padding-left: 25px;
		width: 150%;

		background-color: #1D1D1D;
	}
	
	.footer-buttons{
		width: 150%;

		background-color: #1D1D1D;
	}

	.filler{
		width: 150%;

		background-color: #1D1D1D;
	}

	.footer-flex1{
		width: 150%;

		background-color: #1D1D1D;
	}



}