
.header-main{
	position: -webkit-sticky;
	position: sticky;
	top: 0;

}

.bordi {
    margin-top: 4vh;
    margin-left: 3vh;

}

.trans{
    width: 150px;
}

.header-box{
    border: 1.2px solid #1D1D1D;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

@media screen and (max-width: 768px){
	.header-main {
		display: none;
	}

}